/* bootstap container */
:root {
    --head-size:40px;
    --value-size:60px;
    --timer-length:100px;
    --box-height:500px;
    --box-width:600px;
    --size2:116px;
    --size3:105px;
    --size4:90px;
    --size5:80px;
    --size6:70px;
    --margin2:36px;
    --margin3:18px;
    --margin4:6px;
    --margin5:4px;
    --margin6:2px;
  }
  
  @media screen and (max-width: 600px) {
    :root{
        --timer-length:50px;
        --box-height:320px;
        --box-width:320px;
        --size2:68px;
        --size3:60px;
        --size4:52px;
        --size5:48px;
        --size6:44px;
        --margin2:16px;
        --margin3:7px;
        --margin4:2px;
        --margin5:2px;
        --margin6:1px;
        --head-size:20px;
        --value-size:40px;
    }
  }
body{
padding-top: 20px;
}
.box-container{
    width: var(--box-width);
    min-height:600px;
    margin:0 auto;
}
.best{
    float:right;
    margin-right: var(--timer-length);
}
.current{
    float:left;
    margin-left: var(--timer-length);
}
.head{
    font-size:var(--head-size);
}
.value{
    font-size:var(--value-size);
}
.score {
    color: white;
    display:inline-block;
    font-family: 'Sigmar One', cursive;
    text-align:center;
    min-width: 40px;
    font-style: bold;
    text-shadow: 3px 4px rgb(104, 104, 104);
}
.gameZone{
    width: var(--box-width);
    height: var(--box-height);
    margin: 0 auto;
    padding: 0px;
    display: flex;
    align-items: center;
}
#coin{
    display: block;
}
#playArea{
    margin: 0 auto;
}
p.title{
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    color:red;
    transform: translate(-50%, -50%);
}
.button{
    border-radius: 50%;
    color:red;
    background-color:red;
}
